{% extends 'base.html' %}

{% block body %}
  <br xmlns="http://www.w3.org/1999/html">
  <br>
  <br>
<div class="container m-4 w-25 p-4 mx-auto">
        <div class="shadows-sm">


              <form method="POST" action="/file" enctype="multipart/form-data">
                {% csrf_token %}
              <!-- Text input -->
              <div class="form-outline mb-4">
                   <label class="form-label" for="name">Upload Resume :</label>
                    <input type="file" id="file" class="form-control" name="file" placeholder="Upload"/>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                <br>
                <label class="form-label" for="name">*Experimental Feature</label>
                </div>
              </form>

              <form method="POST" action="/form">
                {% csrf_token %}
                <!-- Text input -->
                <div class="form-outline mb-4">
                    <textarea type="text" id="name" class="form-control" name="name" placeholder="Enter Your Name" required>{{ name }}</textarea>
                  <label class="form-label" for="name"><strong>Name</strong></label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <textarea type="email" id="email" class="form-control" name="email" placeholder="Enter your email" required >{{ email }}</textarea>
                    <label class="form-label" for="email"><strong>Email</strong></label>
                </div>

                <!-- Number input -->
                <div class="form-outline mb-4">
                    <textarea type="number" id="phone" class="form-control" name="phone" placeholder="Phone Number" required>{{phone}}</textarea>
                    <label class="form-label" for="phone"><strong>Phone</strong></label>
                </div>

               <!-- Experience -->
                <div class="form-outline mb-4">
                  <textarea type="text" id="experience" class="form-control"  name="experience" placeholder="SDE 2 years" required>{{ work_experience }}</textarea>
                    <label class="form-label" for="experience"><strong>Experience</strong></label>
                </div>

               <!-- Education -->
                <div class="form-outline mb-4">
                  <textarea type="text" id="education" class="form-control" name="education" placeholder="BE CSE" required>{{ education }}</textarea>
                    <label class="form-label" for="education"><strong>Education</strong></label>
                </div>

               <!-- Skills -->
                <div class="form-outline mb-4">
                  <textarea type="text" id="skills" class="form-control" name="skills" placeholder="C++,React,Django" required>{{ skills }}</textarea>
                    <label class="form-label" for="skills"><strong>Skills</strong></label>
                </div>
              <!-- same for leetcode , linkedin, github, projects -->
              <div class="form-outline mb-4">
                <textarea type="text" id="projects" class="form-control" name="projects" placeholder="Enter your projects" required >{{projects}}</textarea>
                <label class="form-label" for="projects">Projects</label>
            </div>
            
            <div class="form-outline mb-4">
                <textarea type="text" id="linkedin" class="form-control" name="linkedin" placeholder="Enter your linkedin" required >{{linkedin}}</textarea>
                <label class="form-label mb-4" for="linkedin">Linkedin</label>
            </div>

            <div class="form-outline mb-4">
                <textarea type="text" id="leetcode" class="form-control" name="leetcode" placeholder="Enter your leetcode" required >{{leetcode}}</textarea>
                <label class="form-label" for="leetcode">Leetcode</label>
            </div>

            <div class="form-outline mb-4">
                <textarea type="text" id="github" class="form-control" name="github" placeholder="Enter your github" required >{{github}}</textarea>
                <label class="form-label mb-4" for="github">Github</label>
            </div>

              <button type="submit" class="btn btn-primary">Generate</button>
            </form>

        </div>
</div>
{% endblock %}
